@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to top, #e7aa80, white, #fcbf96); }

header .navegador {
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgba(255, 192, 150, 0.904); }
  header .navegador .logo {
    width: 165px;
    margin-left: 20px; }
  header .navegador .boton_inicio {
    background-color: #ff8b56;
    border-radius: 10%;
    text-decoration: none;
    color: white; }
  header .navegador a {
    color: #5a3201;
    font-size: 20px; }
    header .navegador a:not(.logo):hover {
      background-color: #ffd4b8;
      border-radius: 10%;
      color: black; }
  header .navegador .boton_carrito {
    border-color: #ff5100;
    color: #ff5100; }

main {
  font-family: "Roboto Slab", serif; }
  main .divider {
    border-top: 3px solid white; }

.piedepagina {
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 400px 400px;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  gap: 2px;
  grid-template-areas: "nombre volver" "correo redes" "derechos derechos";
  place-content: center; }
  .piedepagina .nombre {
    grid-area: nombre; }
  .piedepagina .correo {
    grid-area: correo; }
    .piedepagina .correo a {
      text-decoration: none;
      color: brown; }
      .piedepagina .correo a:hover {
        color: #ffbb00; }
  .piedepagina .derechos {
    grid-area: derechos;
    text-align: center; }
  .piedepagina .redes {
    grid-area: redes; }
    .piedepagina .redes p {
      color: #5a3201; }
  .piedepagina .volver {
    grid-area: volver;
    text-align: end;
    color: #5a3201; }
  .piedepagina .icons {
    color: #5a3201;
    text-decoration: none;
    margin: 0 10px; }
    .piedepagina .icons:hover {
      color: #ffbb00; }

main {
  font-family: "Roboto Slab", serif; }
  main .carrusel {
    border-radius: 2%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .margen {
    margin: 20px; }
  main .productos-seccion {
    display: flex;
    max-width: 1400px;
    margin: 0;
    gap: 2rem;
    padding: 25px; }
    main .productos-seccion .productos-contenido {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      background-color: #fddeb8; }
      main .productos-seccion .productos-contenido img {
        max-width: 180px;
        width: 100%;
        height: auto;
        border: 2px solid white;
        border-radius: 20%; }
        main .productos-seccion .productos-contenido img:hover {
          border: 3px solid #cfa169; }
      main .productos-seccion .productos-contenido h4 {
        margin: 10px;
        width: 300px;
        font-size: 18px; }
  main .contenedor {
    margin: 10px; }
    main .contenedor .intereses {
      justify-content: center; }
      main .contenedor .intereses .atractivos {
        background-color: #fddeb8;
        border-radius: 6px;
        width: 550px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
        main .contenedor .intereses .atractivos img {
          max-width: 300px;
          width: 100%;
          border-radius: 10%; }
        main .contenedor .intereses .atractivos a {
          text-decoration: none;
          color: #5a3201; }
          main .contenedor .intereses .atractivos a p:hover {
            color: #ffbb00; }

main .header_cat {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-top: 150px; }
  main .header_cat .textos {
    color: #5a3201; }
  main .header_cat .link_descuentos {
    color: #ff5100; }
    main .header_cat .link_descuentos:hover {
      color: #ffbb00; }

main .productos {
  background: linear-gradient(to top, #ffcead, white);
  border: 3px solid #917f60;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  max-height: 500px; }
  main .productos:hover {
    border: 3px solid #ff7044;
    transform: scale(1.1, 1.1); }
  main .productos .joyas {
    object-fit: cover;
    height: 350px;
    width: 100%; }

main .header_des {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .header_des .textos {
    color: #5a3201; }
  main .header_des .link_descuentos {
    color: #ff5100; }
    main .header_des .link_descuentos:hover {
      color: #ffbb00; }

main .sale {
  background: linear-gradient(to top, #ff9f5f, white);
  border: 3px solid #ff3c00;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in; }
  main .sale:hover {
    border: 3px solid #fffbfa;
    transform: scale(1.1, 1.1); }
  main .sale .joyas {
    object-fit: cover;
    height: 350px;
    width: 100%; }

main .header_des {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .header_des .textos {
    color: #5a3201; }
  main .header_des .link_descuentos {
    color: #ff5100; }
    main .header_des .link_descuentos:hover {
      color: #ffbb00; }

main .sale {
  background: linear-gradient(to top, #ff9f5f, white);
  border: 3px solid #ff3c00;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in; }
  main .sale:hover {
    border: 3px solid #fffbfa;
    transform: scale(1.1, 1.1); }
  main .sale .joyas {
    object-fit: cover;
    height: 350px;
    width: 100%; }

/* Estilos para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
  .navegador {
    background-color: #ffb482; }
    .navegador .logo {
      max-width: 130px;
      width: 100%; }
  /*index*/
  .productos-seccion {
    flex-direction: column; }
    .productos-seccion .productos-contenido {
      flex-direction: column;
      margin: 5px;
      border-radius: 2.5%; }
      .productos-seccion .productos-contenido h4 {
        font-size: 5px; }
  .atractivos {
    font-size: 18px; }
  /*ubicanos*/
  #fondodemapa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: "direccion" "mapa" "contacto"; }
  /*footer*/
  .piedepagina {
    grid-template-columns: 1fr 1fr;
    height: auto; }
    .piedepagina .icons {
      margin: 5px;
      /* Reduce el margen entre los íconos */
      font-size: 18px; }
    .piedepagina .volver {
      font-size: 14px; }
    .piedepagina .psocial {
      font-size: 14px; } }

.boton {
  background-color: #fac09a;
  color: #68350c;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 2px #ff5100;
  cursor: pointer; }
  .boton:hover {
    background-color: #f67620; }
