main{
    .carrusel{
        margin-top: 140px;
        border-radius: 2%;
        box-shadow: $sombra;
    }
    .margen{
        margin: 20px;
    }

    .productos-seccion{
        display: flex;
        max-width: 1400px;
        margin: 0;
        gap: 2rem;
        padding: 25px;
        .productos-contenido{
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 10px;
            box-shadow: $sombra;
            background-color: $color_cajas;
            img{
                max-width: 180px;
                width: 100%;
                height: auto;
                border: 2px solid white;
                border-radius: 20%;
                &:hover{
                    border: 3px solid  rgb(207, 161, 105);
                }
            }
            h4{
                margin: 10px;
                width: 300px;
                font-size: 18px;
            }
        }
    }
    .contenedor{
        margin: 10px;
        .intereses{
            justify-content: center;
            .atractivos{
                background-color: $color_cajas;
                border-radius: 6px;
                width: 550px;
                box-shadow: $sombra;
                img{
                    max-width: 300px;
                    width: 100%;
                    border-radius: 10%;
                }
                a{
                    text-decoration: none;
                    color: $color_textos;
                    p{
                        &:hover{
                            color: $resaltador;
                        }
                    }
                }
            }
        }
    }
    .header_cat{
        box-shadow: $sombra;
        .textos{
            color: $color_textos;
        }
        .link_descuentos{
            color: $outline;
            &:hover{
                color: $resaltador;
            }
        }
    }
    .productos{
        background:  linear-gradient(to top,  rgb(255, 206, 173), white);
        border: 3px solid rgb(145, 127, 96);
        box-shadow: $sombra;
        transition: transform 0.5s ease;
        max-height: 500px;
        &:hover{
            border: 3px solid rgb(255, 112, 68);
            transform: scale(1.1, 1.1);
        }
        .joyas{
            object-fit: cover;
            height: 350px;
            width: 100%
        }
    }
    .header_des{
        box-shadow: $sombra;
        .textos{
            color: $color_textos;
        }
        .link_descuentos{
            color: $outline;
            &:hover{
                color: $resaltador;
            }
        }
    }
    .sale{
        background:  linear-gradient(to top,  rgb(255, 159, 95), white);
        border: 3px solid rgb(255, 60, 0);
        box-shadow: $sombra;
        transition: transform 0.2s ease-in;
        &:hover{
            border: 3px solid rgb(255, 251, 250);
            transform: scale(1.1, 1.1);
        }
        .joyas{
            object-fit: cover;
            height: 350px;
            width: 100%
        }
    }
}